<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <form action="/register" method="POST">
        <label for="email">Email</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit" name="button">Register</button>
    </form>
    <!-- <a href="/auth/google">Sign Up with Google</a> -->
</body>

</html>