<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/home-styles.css">
</head>

<body>
    <div class="product-container">
        <div class="product-child">
            <img src="https://cdn.hum3d.com/wp-content/uploads/Tools/967_Dress/Dress_1000_0001.jpg" class="dress" alt="">
        </div>
        <div class="product-child">
            <p>BLACK DRESS</p>
            <p class="description">About black dress.. this is black dress from black company</p>
            <button type="button" class="btn btn-primary"> <p> Add to Cart </p> </button>
            <button type="button" class="btn btn-primary"> <p> Buy </p></button>
        </div>
    </div>
    <!-- <a href="/logout">Logout</a> -->
</body>

</html>